# COMP5310: Assignment 1


## Research Question:

## Data Preprocessing

In [1]:
import pandas as pd
import mapping

file_paths = ['./data/ss15pusa.csv', './data/ss15pusb.csv']

## income, sex, disability, degree/study, class of worker, 
## can speak english, school, race, employments status of parents
## science or engineering degree, place of birth, occupation, age, marital status, industry
## hours worked, military status, time arrival at work, departure of work, language spoken at home, employed
columns = ['PINCP', 'SEX', 'DIS', 'FOD1P', 'COW', 'LANX', 'SCHL', 'RAC2P', 'ESP', 'SCIENGP', 'POBP', 'SOCP', 
           'AGEP', 'MAR', 'INDP', 'WKHP', 'MIL', 'JWAP', 'JWDP', 'LANP', 'ESR']
data_set_part1 = pd.read_csv(file_paths[0], usecols=columns)
data_set_part2 = pd.read_csv(file_paths[1], usecols=columns)

data_set = pd.concat([data_set_part1, data_set_part2], ignore_index=True, axis=0)

data_set['SEX'] = data_set['SEX'].map(mapping.sex_mapping)
data_set['DIS'] = data_set['DIS'].map(mapping.disability_mapping)
data_set['COW'] = data_set['COW'].map(mapping.worker_class_mapping)
data_set['FOD1P'] = data_set['FOD1P'].map(mapping.degree_field_mapping)
data_set['SCIENGP'] = data_set['SCIENGP'].map(mapping.is_STEM_field_mapping)
data_set['RAC2P'] = data_set['RAC2P'].map(mapping.ethnicity_mapping)
data_set['JWAP'] = data_set['JWAP'].map(mapping.arrival_hours_mapping)
data_set['JWDP'] = data_set['JWDP'].map(mapping.departure_hours_mappping)

column_name_changes = {
    'PINCP': 'Income',
    'SEX': 'Sex (Gender)',
    'DIS': 'Disability',
    'FOD1P': 'Degree',
    'COW': 'Class of Worker',
    'SCHL': 'Education',
    'RAC2P': 'Race',
    'ESP': 'English Level',
    'SCIENGP': 'Science or Engineering Degree',
    'POBP': 'Place of Birth',
    'SOCP': 'Occupation',
    'AGEP': 'Age',
    'LANX': 'Can speak another language other than English',
    'MAR': 'Marital Status',
    'INDP': 'Industry',
    'WKHP': 'Hours Worked',
    'MIL': 'Military Status',
    'JWAP': 'Time of Arrival at Work',
    'JWDP': 'Time of Departure from Work',
    'LANP': 'Language Spoken at Home',
    'ESR': 'Is Employed'
}

data_set.rename(columns=column_name_changes, inplace=True)
print(data_set)

         Age                                    Class of Worker  \
0         56  Self-employed in own not incorporated business...
1         61                                                NaN
2          8                                                NaN
3         61  Employee of a private for-profit company or bu...
4         52                                                NaN
...      ...                                                ...
3147000    8                                                NaN
3147001    5                                                NaN
3147002   60     Local government employee (city, county, etc.)
3147003   83                                                NaN
3147004   37  Employee of a private for-profit company or bu...

         Can speak another language other than English  Marital Status  \
0                                                  2.0               1
1                                                  2.0               1
2                                                  2.0               5
3                                                  2.0               3
4                                                  2.0               3
...                                                ...             ...
3147000                                            2.0               5
3147001                                            2.0               5
3147002                                            2.0               3
3147003                                            2.0               2
3147004                                            2.0               5

         Military Status  Education Sex (Gender)  Hours Worked  \
0                    4.0       14.0         Male           5.0
1                    4.0       19.0       Female           NaN
2                    NaN        5.0       Female           NaN
3                    2.0       19.0         Male          40.0
4                    4.0       11.0       Female           NaN
...                  ...        ...          ...           ...
3147000              NaN        5.0         Male           NaN
3147001              NaN        2.0         Male           NaN
3147002              2.0       19.0         Male           NaN
3147003              4.0       18.0       Female           NaN
3147004              4.0       21.0         Male          40.0

                   Disability  English Level  ...  \
0           With a disability            NaN  ...
1        Without a disability            NaN  ...
2        Without a disability            NaN  ...
3        Without a disability            NaN  ...
4           With a disability            NaN  ...
...                       ...            ...  ...
3147000  Without a disability            1.0  ...
3147001  Without a disability            1.0  ...
3147002  Without a disability            NaN  ...
3147003     With a disability            NaN  ...
3147004  Without a disability            NaN  ...

                                   Degree Industry  Time of Arrival at Work  \
0                                     NaN   9160.0   7:40 a.m. to 7:44 a.m.
1                                     NaN      NaN                      NaN
2                                     NaN      NaN                      NaN
3                                     NaN   4870.0   6:20 a.m. to 6:24 a.m.
4                                     NaN      NaN                      NaN
...                                   ...      ...                      ...
3147000                               NaN      NaN                      NaN
3147001                               NaN      NaN                      NaN
3147002                               NaN   7860.0                      NaN
3147003                               NaN      NaN                      NaN
3147004  COMPUTER AND INFORMATION SYSTEMS    370.0   7:35 a.m. to 7:39 a.m.

        Time of Departure from Work Language Spoken at Home    Income  \
0            7:35 a.m. to 7:39 a.m.                     NaN    3450.0
1                               NaN                     NaN   14000.0
2                               NaN                     NaN       NaN
3            6:00 a.m. to 6:04 a.m.                     NaN   35000.0
4                               NaN                     NaN    8800.0
...                             ...                     ...       ...
3147000                         NaN                     NaN       NaN
3147001                         NaN                     NaN       NaN
3147002                         NaN                     NaN   20000.0
3147003                         NaN                     NaN   25900.0
3147004      7:00 a.m. to 7:04 a.m.                     NaN  115000.0

         Place of Birth                             Race  \
0                     1  Black or African American alone
1                     1  Black or African American alone
2                     1  Black or African American alone
3                    34  Black or African American alone
4                     1                Two or More Races
...                 ...                              ...
3147000              15                      White alone
3147001             416  Black or African American alone
3147002               6                      White alone
3147003               6                      White alone
3147004              56                      White alone

        Science or Engineering Degree Occupation
0                                 NaN     212011
1                                 NaN        NaN
2                                 NaN        NaN
3                                 NaN     537051
4                                 NaN        NaN
...                               ...        ...
3147000                           NaN        NaN
3147001                           NaN        NaN
3147002                           NaN     533020
3147003                           NaN        NaN
3147004                           Yes     471011

[3147005 rows x 21 columns]

### Filter Education Level to at least High School Completion

In [2]:
filtered_data_set = data_set.loc[data_set['Education'] >= 16]

print(filtered_data_set)

         Age                                    Class of Worker  \
1         61                                                NaN
3         61  Employee of a private for-profit company or bu...
5         84                                                NaN
6         53  Self-employed in own incorporated business, pr...
7         53  Employee of a private for-profit company or bu...
...      ...                                                ...
3146996   40  Self-employed in own not incorporated business...
3146997   41  Self-employed in own not incorporated business...
3147002   60     Local government employee (city, county, etc.)
3147003   83                                                NaN
3147004   37  Employee of a private for-profit company or bu...

         Can speak another language other than English  Marital Status  \
1                                                  2.0               1
3                                                  2.0               3
5                                                  2.0               2
6                                                  2.0               1
7                                                  2.0               1
...                                                ...             ...
3146996                                            2.0               1
3146997                                            2.0               1
3147002                                            2.0               3
3147003                                            2.0               2
3147004                                            2.0               5

         Military Status  Education Sex (Gender)  Hours Worked  \
1                    4.0       19.0       Female           NaN
3                    2.0       19.0         Male          40.0
5                    2.0       21.0         Male           NaN
6                    4.0       21.0         Male          40.0
7                    4.0       19.0       Female          40.0
...                  ...        ...          ...           ...
3146996              4.0       21.0       Female          25.0
3146997              4.0       19.0         Male          40.0
3147002              2.0       19.0         Male           NaN
3147003              4.0       18.0       Female           NaN
3147004              4.0       21.0         Male          40.0

                   Disability  English Level  ...  \
1        Without a disability            NaN  ...
3        Without a disability            NaN  ...
5        Without a disability            NaN  ...
6        Without a disability            NaN  ...
7        Without a disability            NaN  ...
...                       ...            ...  ...
3146996  Without a disability            NaN  ...
3146997  Without a disability            NaN  ...
3147002  Without a disability            NaN  ...
3147003     With a disability            NaN  ...
3147004  Without a disability            NaN  ...

                                         Degree Industry  \
1                                           NaN      NaN
3                                           NaN   4870.0
5                       GENERAL SOCIAL SCIENCES      NaN
6                                COMMUNICATIONS   6990.0
7                                           NaN   7860.0
...                                         ...      ...
3146996  BUSINESS MANAGEMENT AND ADMINISTRATION   8680.0
3146997                                     NaN   8680.0
3147002                                     NaN   7860.0
3147003                                     NaN      NaN
3147004        COMPUTER AND INFORMATION SYSTEMS    370.0

         Time of Arrival at Work Time of Departure from Work  \
1                            NaN                         NaN
3         6:20 a.m. to 6:24 a.m.      6:00 a.m. to 6:04 a.m.
5                            NaN                         NaN
6         9:10 a.m. to 9:14 a.m.      9:00 a.m. to 9:04 a.m.
7         7:20 a.m. to 7:24 a.m.      7:10 a.m. to 7:14 a.m.
...                          ...                         ...
3146996   9:45 a.m. to 9:49 a.m.      9:00 a.m. to 9:04 a.m.
3146997   9:55 a.m. to 9:59 a.m.      9:00 a.m. to 9:04 a.m.
3147002                      NaN                         NaN
3147003                      NaN                         NaN
3147004   7:35 a.m. to 7:39 a.m.      7:00 a.m. to 7:04 a.m.

        Language Spoken at Home    Income  Place of Birth  \
1                           NaN   14000.0               1
3                           NaN   35000.0              34
5                           NaN   13200.0               1
6                           NaN  150000.0               1
7                           NaN    6000.0               1
...                         ...       ...             ...
3146996                     NaN   90020.0              46
3146997                     NaN   90000.0              46
3147002                     NaN   20000.0               6
3147003                     NaN   25900.0               6
3147004                     NaN  115000.0              56

                                    Race Science or Engineering Degree  \
1        Black or African American alone                           NaN
3        Black or African American alone                           NaN
5                            White alone                           Yes
6                            White alone                            No
7                            White alone                           NaN
...                                  ...                           ...
3146996                      White alone                            No
3146997                      White alone                           NaN
3147002                      White alone                           NaN
3147003                      White alone                           NaN
3147004                      White alone                           Yes

        Occupation
1              NaN
3           537051
5              NaN
6           411012
7           259041
...            ...
3146996     433031
3146997     119051
3147002     533020
3147003        NaN
3147004     471011

[2186771 rows x 21 columns]

### Identifying Null values on Occupation, Degree and Education

In [3]:
null_count_occupation= filtered_data_set['Occupation'].isna().sum()
null_count_degree = filtered_data_set['Degree'].isna().sum()
null_count_education = filtered_data_set['Education'].isna().sum()
print("Number of NaN values in 'Occupation' column: ", null_count_occupation)
print("Number of NaN values in 'Degree' column: ", null_count_degree)
print("Number of NaN values in 'Education' column: ", null_count_education)

Number of NaN values in 'Occupation' column:  522458
Number of NaN values in 'Degree' column:  1470144
Number of NaN values in 'Education' column:  0

### Dropping rows containing Null values in Occupation

In [4]:
dataset_cleaned = filtered_data_set.dropna(subset=['Occupation'])
print(dataset_cleaned)

         Age                                    Class of Worker  \
3         61  Employee of a private for-profit company or bu...
6         53  Self-employed in own incorporated business, pr...
7         53  Employee of a private for-profit company or bu...
12        53  Employee of a private for-profit company or bu...
13        20  Employee of a private for-profit company or bu...
...      ...                                                ...
3146995   34  Employee of a private for-profit company or bu...
3146996   40  Self-employed in own not incorporated business...
3146997   41  Self-employed in own not incorporated business...
3147002   60     Local government employee (city, county, etc.)
3147004   37  Employee of a private for-profit company or bu...

         Can speak another language other than English  Marital Status  \
3                                                  2.0               3
6                                                  2.0               1
7                                                  2.0               1
12                                                 2.0               1
13                                                 2.0               5
...                                                ...             ...
3146995                                            2.0               4
3146996                                            2.0               1
3146997                                            2.0               1
3147002                                            2.0               3
3147004                                            2.0               5

         Military Status  Education Sex (Gender)  Hours Worked  \
3                    2.0       19.0         Male          40.0
6                    4.0       21.0         Male          40.0
7                    4.0       19.0       Female          40.0
12                   4.0       17.0         Male          50.0
13                   4.0       16.0         Male          40.0
...                  ...        ...          ...           ...
3146995              4.0       18.0       Female          30.0
3146996              4.0       21.0       Female          25.0
3146997              4.0       19.0         Male          40.0
3147002              2.0       19.0         Male           NaN
3147004              4.0       21.0         Male          40.0

                   Disability  English Level  ...  \
3        Without a disability            NaN  ...
6        Without a disability            NaN  ...
7        Without a disability            NaN  ...
12          With a disability            NaN  ...
13       Without a disability            NaN  ...
...                       ...            ...  ...
3146995  Without a disability            NaN  ...
3146996  Without a disability            NaN  ...
3146997  Without a disability            NaN  ...
3147002  Without a disability            NaN  ...
3147004  Without a disability            NaN  ...

                                         Degree Industry  \
3                                           NaN   4870.0
6                                COMMUNICATIONS   6990.0
7                                           NaN   7860.0
12                                          NaN   7190.0
13                                          NaN   4270.0
...                                         ...      ...
3146995                                     NaN   1180.0
3146996  BUSINESS MANAGEMENT AND ADMINISTRATION   8680.0
3146997                                     NaN   8680.0
3147002                                     NaN   7860.0
3147004        COMPUTER AND INFORMATION SYSTEMS    370.0

         Time of Arrival at Work Time of Departure from Work  \
3         6:20 a.m. to 6:24 a.m.      6:00 a.m. to 6:04 a.m.
6         9:10 a.m. to 9:14 a.m.      9:00 a.m. to 9:04 a.m.
7         7:20 a.m. to 7:24 a.m.      7:10 a.m. to 7:14 a.m.
12        7:00 a.m. to 7:04 a.m.      5:30 a.m. to 5:34 a.m.
13        6:00 a.m. to 6:04 a.m.      5:30 a.m. to 5:34 a.m.
...                          ...                         ...
3146995                      NaN                         NaN
3146996   9:45 a.m. to 9:49 a.m.      9:00 a.m. to 9:04 a.m.
3146997   9:55 a.m. to 9:59 a.m.      9:00 a.m. to 9:04 a.m.
3147002                      NaN                         NaN
3147004   7:35 a.m. to 7:39 a.m.      7:00 a.m. to 7:04 a.m.

        Language Spoken at Home    Income  Place of Birth  \
3                           NaN   35000.0              34
6                           NaN  150000.0               1
7                           NaN    6000.0               1
12                          NaN   10000.0               1
13                          NaN    4400.0               1
...                         ...       ...             ...
3146995                     NaN     500.0              49
3146996                     NaN   90020.0              46
3146997                     NaN   90000.0              46
3147002                     NaN   20000.0               6
3147004                     NaN  115000.0              56

                                    Race Science or Engineering Degree  \
3        Black or African American alone                           NaN
6                            White alone                            No
7                            White alone                           NaN
12                           White alone                           NaN
13                           White alone                           NaN
...                                  ...                           ...
3146995                      White alone                           NaN
3146996                      White alone                            No
3146997                      White alone                           NaN
3147002                      White alone                           NaN
3147004                      White alone                           Yes

        Occupation
3           537051
6           411012
7           259041
12          49904X
13          435081
...            ...
3146995     513020
3146996     433031
3146997     119051
3147002     533020
3147004     471011

[1664313 rows x 21 columns]

### Filling in NaN values in Degree Column if we know they don't have a degree

In [5]:
condition = (dataset_cleaned['Education'] >= 16) & (dataset_cleaned['Education'] < 20)
dataset_cleaned.loc[condition, 'Degree'] = dataset_cleaned.loc[condition, 'Degree'].fillna('NO DEGREE')

print(dataset_cleaned)

         Age                                    Class of Worker  \
3         61  Employee of a private for-profit company or bu...
6         53  Self-employed in own incorporated business, pr...
7         53  Employee of a private for-profit company or bu...
12        53  Employee of a private for-profit company or bu...
13        20  Employee of a private for-profit company or bu...
...      ...                                                ...
3146995   34  Employee of a private for-profit company or bu...
3146996   40  Self-employed in own not incorporated business...
3146997   41  Self-employed in own not incorporated business...
3147002   60     Local government employee (city, county, etc.)
3147004   37  Employee of a private for-profit company or bu...

         Can speak another language other than English  Marital Status  \
3                                                  2.0               3
6                                                  2.0               1
7                                                  2.0               1
12                                                 2.0               1
13                                                 2.0               5
...                                                ...             ...
3146995                                            2.0               4
3146996                                            2.0               1
3146997                                            2.0               1
3147002                                            2.0               3
3147004                                            2.0               5

         Military Status  Education Sex (Gender)  Hours Worked  \
3                    2.0       19.0         Male          40.0
6                    4.0       21.0         Male          40.0
7                    4.0       19.0       Female          40.0
12                   4.0       17.0         Male          50.0
13                   4.0       16.0         Male          40.0
...                  ...        ...          ...           ...
3146995              4.0       18.0       Female          30.0
3146996              4.0       21.0       Female          25.0
3146997              4.0       19.0         Male          40.0
3147002              2.0       19.0         Male           NaN
3147004              4.0       21.0         Male          40.0

                   Disability  English Level  ...  \
3        Without a disability            NaN  ...
6        Without a disability            NaN  ...
7        Without a disability            NaN  ...
12          With a disability            NaN  ...
13       Without a disability            NaN  ...
...                       ...            ...  ...
3146995  Without a disability            NaN  ...
3146996  Without a disability            NaN  ...
3146997  Without a disability            NaN  ...
3147002  Without a disability            NaN  ...
3147004  Without a disability            NaN  ...

                                         Degree Industry  \
3                                     NO DEGREE   4870.0
6                                COMMUNICATIONS   6990.0
7                                     NO DEGREE   7860.0
12                                    NO DEGREE   7190.0
13                                    NO DEGREE   4270.0
...                                         ...      ...
3146995                               NO DEGREE   1180.0
3146996  BUSINESS MANAGEMENT AND ADMINISTRATION   8680.0
3146997                               NO DEGREE   8680.0
3147002                               NO DEGREE   7860.0
3147004        COMPUTER AND INFORMATION SYSTEMS    370.0

         Time of Arrival at Work Time of Departure from Work  \
3         6:20 a.m. to 6:24 a.m.      6:00 a.m. to 6:04 a.m.
6         9:10 a.m. to 9:14 a.m.      9:00 a.m. to 9:04 a.m.
7         7:20 a.m. to 7:24 a.m.      7:10 a.m. to 7:14 a.m.
12        7:00 a.m. to 7:04 a.m.      5:30 a.m. to 5:34 a.m.
13        6:00 a.m. to 6:04 a.m.      5:30 a.m. to 5:34 a.m.
...                          ...                         ...
3146995                      NaN                         NaN
3146996   9:45 a.m. to 9:49 a.m.      9:00 a.m. to 9:04 a.m.
3146997   9:55 a.m. to 9:59 a.m.      9:00 a.m. to 9:04 a.m.
3147002                      NaN                         NaN
3147004   7:35 a.m. to 7:39 a.m.      7:00 a.m. to 7:04 a.m.

        Language Spoken at Home    Income  Place of Birth  \
3                           NaN   35000.0              34
6                           NaN  150000.0               1
7                           NaN    6000.0               1
12                          NaN   10000.0               1
13                          NaN    4400.0               1
...                         ...       ...             ...
3146995                     NaN     500.0              49
3146996                     NaN   90020.0              46
3146997                     NaN   90000.0              46
3147002                     NaN   20000.0               6
3147004                     NaN  115000.0              56

                                    Race Science or Engineering Degree  \
3        Black or African American alone                           NaN
6                            White alone                            No
7                            White alone                           NaN
12                           White alone                           NaN
13                           White alone                           NaN
...                                  ...                           ...
3146995                      White alone                           NaN
3146996                      White alone                            No
3146997                      White alone                           NaN
3147002                      White alone                           NaN
3147004                      White alone                           Yes

        Occupation
3           537051
6           411012
7           259041
12          49904X
13          435081
...            ...
3146995     513020
3146996     433031
3146997     119051
3147002     533020
3147004     471011

[1664313 rows x 21 columns]

### Filling in NaN values in Degree and If they do Science or Engineering Degree Column

In [21]:
condition = dataset_cleaned['Education'] == 20
hasScienceOrEngineeringDegree = (dataset_cleaned['Education'] >= 18) & (dataset_cleaned['Education'] <= 20)
dataset_cleaned.loc[condition, 'Degree'] = dataset_cleaned.loc[condition, 'Degree'].fillna('UNKNOWN')
dataset_cleaned.loc[hasScienceOrEngineeringDegree, 'Science or Engineering Degree'] = dataset_cleaned.loc[hasScienceOrEngineeringDegree, 'Science or Engineering Degree'].fillna('Unknown')
print(dataset_cleaned)

## dataset_cleaned = dataset_cleaned.drop(columns=['Language Spoken at Home'])

         Age                                    Class of Worker  \
3         61  Employee of a private for-profit company or bu...
6         53  Self-employed in own incorporated business, pr...
7         53  Employee of a private for-profit company or bu...
12        53  Employee of a private for-profit company or bu...
13        20  Employee of a private for-profit company or bu...
...      ...                                                ...
3146990   39                          State government employee
3146994   53                          State government employee
3146996   40  Self-employed in own not incorporated business...
3146997   41  Self-employed in own not incorporated business...
3147004   37  Employee of a private for-profit company or bu...

         Can speak another language other than English  Marital Status  \
3                                                  2.0               3
6                                                  2.0               1
7                                                  2.0               1
12                                                 2.0               1
13                                                 2.0               5
...                                                ...             ...
3146990                                            2.0               3
3146994                                            2.0               3
3146996                                            2.0               1
3146997                                            2.0               1
3147004                                            2.0               5

         Military Status  Education Sex (Gender)  Hours Worked  \
3                    2.0       19.0         Male          40.0
6                    4.0       21.0         Male          40.0
7                    4.0       19.0       Female          40.0
12                   4.0       17.0         Male          50.0
13                   4.0       16.0         Male          40.0
...                  ...        ...          ...           ...
3146990              4.0       20.0       Female          45.0
3146994              4.0       21.0       Female          40.0
3146996              4.0       21.0       Female          25.0
3146997              4.0       19.0         Male          40.0
3147004              4.0       21.0         Male          40.0

                   Disability  English Level  ...  \
3        Without a disability            NaN  ...
6        Without a disability            NaN  ...
7        Without a disability            NaN  ...
12          With a disability            NaN  ...
13       Without a disability            NaN  ...
...                       ...            ...  ...
3146990  Without a disability            NaN  ...
3146994  Without a disability            NaN  ...
3146996  Without a disability            NaN  ...
3146997  Without a disability            NaN  ...
3147004  Without a disability            NaN  ...

                                         Degree Industry  \
3                                     NO DEGREE   4870.0
6                                COMMUNICATIONS   6990.0
7                                     NO DEGREE   7860.0
12                                    NO DEGREE   7190.0
13                                    NO DEGREE   4270.0
...                                         ...      ...
3146990                                 UNKNOWN   8090.0
3146994                  AGRICULTURAL ECONOMICS   7870.0
3146996  BUSINESS MANAGEMENT AND ADMINISTRATION   8680.0
3146997                               NO DEGREE   8680.0
3147004        COMPUTER AND INFORMATION SYSTEMS    370.0

         Time of Arrival at Work Time of Departure from Work  \
3         6:20 a.m. to 6:24 a.m.      6:00 a.m. to 6:04 a.m.
6         9:10 a.m. to 9:14 a.m.      9:00 a.m. to 9:04 a.m.
7         7:20 a.m. to 7:24 a.m.      7:10 a.m. to 7:14 a.m.
12        7:00 a.m. to 7:04 a.m.      5:30 a.m. to 5:34 a.m.
13        6:00 a.m. to 6:04 a.m.      5:30 a.m. to 5:34 a.m.
...                          ...                         ...
3146990   5:45 a.m. to 5:49 a.m.      5:15 a.m. to 5:19 a.m.
3146994   8:00 a.m. to 8:04 a.m.      7:15 a.m. to 7:19 a.m.
3146996   9:45 a.m. to 9:49 a.m.      9:00 a.m. to 9:04 a.m.
3146997   9:55 a.m. to 9:59 a.m.      9:00 a.m. to 9:04 a.m.
3147004   7:35 a.m. to 7:39 a.m.      7:00 a.m. to 7:04 a.m.

        Language Spoken at Home    Income  Place of Birth  \
3                           NaN   35000.0              34
6                           NaN  150000.0               1
7                           NaN    6000.0               1
12                          NaN   10000.0               1
13                          NaN    4400.0               1
...                         ...       ...             ...
3146990                     NaN   65000.0              56
3146994                     NaN   35000.0              36
3146996                     NaN   90020.0              46
3146997                     NaN   90000.0              46
3147004                     NaN  115000.0              56

                                    Race Science or Engineering Degree  \
3        Black or African American alone                       Unknown
6                            White alone                            No
7                            White alone                       Unknown
12                           White alone                           NaN
13                           White alone                           NaN
...                                  ...                           ...
3146990                      White alone                       Unknown
3146994                      White alone                           Yes
3146996                      White alone                            No
3146997                      White alone                       Unknown
3147004                      White alone                           Yes

        Occupation
3           537051
6           411012
7           259041
12          49904X
13          435081
...            ...
3146990     291141
3146994     272012
3146996     433031
3146997     119051
3147004     471011

[1225764 rows x 21 columns]
330398

### Identifying Null values on Hours Worked

In [7]:
null_count_hours_worked = dataset_cleaned['Hours Worked'].isna().sum()
print(null_count_hours_worked)

204558

### Drop NaN values on Hours worked

In [11]:
columns_to_check = ['Time of Arrival at Work', 'Time of Departure from Work']
hasTimeArrivalAtWorkOrDeparture = dataset_cleaned[columns_to_check].notna().all(axis=1)

dataset_cleaned = dataset_cleaned[hasTimeArrivalAtWorkOrDeparture]

dataset_cleaned = dataset_cleaned.dropna(subset=['Hours Worked'])

print(dataset_cleaned)

         Age                                    Class of Worker  \
3         61  Employee of a private for-profit company or bu...
6         53  Self-employed in own incorporated business, pr...
7         53  Employee of a private for-profit company or bu...
12        53  Employee of a private for-profit company or bu...
13        20  Employee of a private for-profit company or bu...
...      ...                                                ...
3146990   39                          State government employee
3146994   53                          State government employee
3146996   40  Self-employed in own not incorporated business...
3146997   41  Self-employed in own not incorporated business...
3147004   37  Employee of a private for-profit company or bu...

         Can speak another language other than English  Marital Status  \
3                                                  2.0               3
6                                                  2.0               1
7                                                  2.0               1
12                                                 2.0               1
13                                                 2.0               5
...                                                ...             ...
3146990                                            2.0               3
3146994                                            2.0               3
3146996                                            2.0               1
3146997                                            2.0               1
3147004                                            2.0               5

         Military Status  Education Sex (Gender)  Hours Worked  \
3                    2.0       19.0         Male          40.0
6                    4.0       21.0         Male          40.0
7                    4.0       19.0       Female          40.0
12                   4.0       17.0         Male          50.0
13                   4.0       16.0         Male          40.0
...                  ...        ...          ...           ...
3146990              4.0       20.0       Female          45.0
3146994              4.0       21.0       Female          40.0
3146996              4.0       21.0       Female          25.0
3146997              4.0       19.0         Male          40.0
3147004              4.0       21.0         Male          40.0

                   Disability  English Level  ...  \
3        Without a disability            NaN  ...
6        Without a disability            NaN  ...
7        Without a disability            NaN  ...
12          With a disability            NaN  ...
13       Without a disability            NaN  ...
...                       ...            ...  ...
3146990  Without a disability            NaN  ...
3146994  Without a disability            NaN  ...
3146996  Without a disability            NaN  ...
3146997  Without a disability            NaN  ...
3147004  Without a disability            NaN  ...

                                         Degree Industry  \
3                                     NO DEGREE   4870.0
6                                COMMUNICATIONS   6990.0
7                                     NO DEGREE   7860.0
12                                    NO DEGREE   7190.0
13                                    NO DEGREE   4270.0
...                                         ...      ...
3146990                                 UNKNOWN   8090.0
3146994                  AGRICULTURAL ECONOMICS   7870.0
3146996  BUSINESS MANAGEMENT AND ADMINISTRATION   8680.0
3146997                               NO DEGREE   8680.0
3147004        COMPUTER AND INFORMATION SYSTEMS    370.0

         Time of Arrival at Work Time of Departure from Work  \
3         6:20 a.m. to 6:24 a.m.      6:00 a.m. to 6:04 a.m.
6         9:10 a.m. to 9:14 a.m.      9:00 a.m. to 9:04 a.m.
7         7:20 a.m. to 7:24 a.m.      7:10 a.m. to 7:14 a.m.
12        7:00 a.m. to 7:04 a.m.      5:30 a.m. to 5:34 a.m.
13        6:00 a.m. to 6:04 a.m.      5:30 a.m. to 5:34 a.m.
...                          ...                         ...
3146990   5:45 a.m. to 5:49 a.m.      5:15 a.m. to 5:19 a.m.
3146994   8:00 a.m. to 8:04 a.m.      7:15 a.m. to 7:19 a.m.
3146996   9:45 a.m. to 9:49 a.m.      9:00 a.m. to 9:04 a.m.
3146997   9:55 a.m. to 9:59 a.m.      9:00 a.m. to 9:04 a.m.
3147004   7:35 a.m. to 7:39 a.m.      7:00 a.m. to 7:04 a.m.

        Language Spoken at Home    Income  Place of Birth  \
3                           NaN   35000.0              34
6                           NaN  150000.0               1
7                           NaN    6000.0               1
12                          NaN   10000.0               1
13                          NaN    4400.0               1
...                         ...       ...             ...
3146990                     NaN   65000.0              56
3146994                     NaN   35000.0              36
3146996                     NaN   90020.0              46
3146997                     NaN   90000.0              46
3147004                     NaN  115000.0              56

                                    Race Science or Engineering Degree  \
3        Black or African American alone                           NaN
6                            White alone                            No
7                            White alone                           NaN
12                           White alone                           NaN
13                           White alone                           NaN
...                                  ...                           ...
3146990                      White alone                       Unknown
3146994                      White alone                           Yes
3146996                      White alone                            No
3146997                      White alone                           NaN
3147004                      White alone                           Yes

        Occupation
3           537051
6           411012
7           259041
12          49904X
13          435081
...            ...
3146990     291141
3146994     272012
3146996     433031
3146997     119051
3147004     471011

[1225764 rows x 21 columns]